body{
    margin: 0px;
    width:100%;
}
header{
    background-color: rgb(0, 121, 143);
    margin: 0;
    width: 100%;
    padding: 15px 15px;
    /* background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    ); */
    }  
.container{
    width: 100%;        
    }
#logo{
    display: inline-block;
    width: 30%;
    opacity: 0.75;
    border: 1px solid rgb(0, 121, 143);
    text-align: center;
    vertical-align: middle;
    }
#name{
    text-align: left;
    display: inline-block;
    width: 35%;
    border: 1px solid rgb(0, 121, 143) /* rgb(0, 121, 143)*/;
    vertical-align: middle;
    /* height: 90px; */
    /* font-family: 'Shadows Into Light Two', cursive; */
    font-family: 'Original Surfer', cursive;
    font-size: 35px;   
    }
#mail{
    display: inline-block;
    border: 1px solid rgb(0, 121, 143);
    width: 12%;
    text-align: right;
    vertical-align: top;
    font-family: 'Original Surfer', cursive;
    font-size: 13px;
    }
#call{
    display: inline-block;
    border: 1px solid rgb(0, 121, 143);
    width: 16%;
    text-align: left;
    height: 50px;
    vertical-align: top;
    font-family: 'Original Surfer', cursive;
    font-size: 13px;
    }
header a{
    border: 3px solid rgb(0, 121, 143);
    text-decoration: black;
    border-radius: 35px;
    margin: 5px;
        /* height: 40px; */
    }
a[href^="mailto"]{
    padding: 13px 3px;
    color: black;
    border-color: black;
    }
a[href^="mailto"]:hover{
    background: rgb(0, 82, 109);
    }
a[href^="tel"]{
    padding: 13px 3px;
    color: black;
    border-color: black;
    }
a[href^="tel"]:hover{
    background: rgb(0, 82, 109);
    }
    @media (max-width:1060px){
        .container{width: 800px;}
        #logo{
            width: 50%;
            text-align: center;
            display: inline-block;
        }
        #name{
            width: 50%;
            text-align: center;
            display: inline-block;
        }
        #mail{
            width:100%;
            text-align: center;
            display: block;
        }
        #call{
            width:100%;
            text-align: center;
            display: inline-block;
        }
        header a{
            display: inline-block;
            width:20%;
        }
    }
    @media (max-width:540px){
        .container{
                   width: 100%;
        }
        #logo{
            width: 50%;
            text-align: center;
            display: inline-block;
        }
        #name{
            width: 50%;
            text-align: center;
            display: inline-block;
        }
        #mail{
            width:100%;
            text-align: center;
            display: block;
        }
        #call{
            width:100%;
            text-align: center;
            display: block;
        }
        header a{
            display: inline-block;
            width:50%;
        }
    }
    .Menu{
        width: 100%;
        margin: 0;
        background-color: rgb(0, 121, 143,0.25);
        font-family: 'Original Surfer', cursive;
    }
    ul.menu{
        margin: 0; 
        padding: 10px 100px;
        display: flex;
        justify-content: space-between;
        color:rgb(0, 121, 143);

    }
    ul.menu li{
        display: inline;
    }
    a{
        color:hsl(180, 6%, 21%);
    }
    .d1{
    width: 19%;
    background-color: yellow;
    display: inline-block;

    }
    .d2{
        width:57%;
        background-color: rgb(0, 121, 143,0.25);
        display: inline-block;
padding: 20px;

    }
    .d3{
        width:19%;
        background-color: yellow;
        display: inline-block;
    }
    footer{
        background-color: rgb(0, 121, 143);
        margin: 0;
        width: 100%;
        padding: 3px 15px;
    /* box-align: center; */
    }
    .container-f{
        font-family: 'Original Surfer', cursive;
        /* color: hsl(180, 0%, 15%); */
        text-align: center;
        /* display: inline-flexbox; */
    }
    #f1{
        text-align: center;
        width:70px;
        border: 2.5px solid hsl(180, 7%, 11%);
        border-radius: 35px;
        display: inline-block;
        vertical-align: middle;
        color: hsl(180, 7%, 11%);
}
    #footer_logo{
        text-align: center;
        width:70px;
        /* border: 1px solid black; */
        opacity: 0.75;
        display: inline-block;
        vertical-align: middle;
    }
    #f2{
        text-align: center;
        width:70px;
        border: 2.5px solid hsl(180, 7%, 11%);
        border-radius: 35px;

        display: inline-block;
        vertical-align: middle;
        color: hsl(180, 7%, 11%);
    }
    .container-f a{
        text-decoration-line: none;
    }
    .about{
            border: 1px solid black;
            padding: 0 20px;
            font-family: 'Original Surfer', cursive;
            background-color: rgb(0, 121, 143,0.25);
        }
        .about h2{
            margin-top: 0%;
        }